<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebRoot</key>
	<string>https://app.kujiang.com/v1</string>
	<key>Path</key>
	<dict>
		<key>QQLogin</key>
		<string>/qq/login</string>
		<key>WeiBoLogin</key>
		<string>/weibo/login</string>
		<key>LikeList</key>
		<string>/user/get_user_zhuishu</string>
		<key>ReadNew</key>
		<string>/book/read_new</string>
	</dict>
	<key>Params</key>
	<dict/>
</dict>
</plist>
